
.board {
  text-align: : center;
  height: 640px;
  width: 640px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}

.board button {
  background-color: rgb(158, 10, 10);
  height: 120px;
  width: 120px;
  margin: 30px;
  font-size: 70px;
  font-family: 'Special Elite';
}

body {
  background-image: url("http://thisisinfamous.com/wp-content/uploads/2014/08/saw_v_2_by_hassoomi-d31v9zz.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;
}

h1 {
  font-family: 'Eater';
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: rgb(180, 11, 10);
}






